[client]
default-character-set=utf8mb4
socket=/data/app/mysql/mysql.sock
[mysqld]
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema
binlog-ignore-db=sys
binlog-ignore-db=mysql
relay-log=relay-log
relay-log-index=relay-log-index
port=3306
skip-external-locking
log-slave-updates=1
server-id=101
log-bin=mysql-bin.log
datadir=/data/app/mysql/data
basedir=/data/app/mysql
socket=/data/app/mysql/mysql.sock
skip-name-resolve
sort_buffer_size=4M
max_allowed_packet=100M
connect_timeout=60
lower_case_table_names=1
innodb_buffer_pool_size=10G
innodb_log_file_size=100M
innodb_log_buffer_size=100M
tmp_table_size=300M
max_length_for_sort_data=5M
innodb_lock_wait_timeout=50
innodb_file_per_table
max_connections=2000
max_user_connections=1000
character_set_server=utf8mb4

collation-server=utf8_bin
explicit_defaults_for_timestamp=true
pid-file=/data/app/mysql/mysqld.pid
sql_mode=NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
log-error=/data/logs/mysql/mysql.err
slow_query_log           = 1
slow_query_log_file      = /data/logs/mysql/mysql-slow.log
long_query_time=3
secure_file_priv=''
default-time-zone='+00:00'
innodb_monitor_enable=all
innodb_print_all_deadlocks=ON
innodb_status_output=ON
innodb_status_output_locks=ON
innodb_thread_concurrency=8
thread_cache_size=64
